body {
    background-color: #0c0f14;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  h1 {
    margin-bottom: 20px;
  }
  a {
    color: #00c3ff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px 0;
    display: block;
  }
  a:hover {
    color: #1abc9c;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers everything horizontally */
  }
  
  .head h1 {
    margin: 0;
  }
  
  .head .subtext div{
    display: flex;
    gap: 5px; /* Adds space between the span and link */
    font-size: 1.2rem;
  }
  .subtext div span{
    margin: 10px 0;
  }
  .subtext {
    margin-bottom: 20px;
  } 

  .vh50{
    min-height: 50vh;
  }